
body {
    background-image: url("/media/background.jpg");
    background-repeat: repeat;
}

 
main {
    background-color: rgba(218, 218, 218, 0.75);
    width: 100%;
    padding: 0 !important;
    
}

/* ####################################################################### */

/* NAV MENU  */


nav , .dropdown-menu, nav li a, .dropdown-item {
    background-color: black;
    color: white;
}

.dropdown-menu :hover {
    background-color: rgb(0, 0, 0);
    color:rgb(194, 34, 34)
}
.custom-toggler.navbar-toggler {
    border-color: white;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: rgb(194, 34, 34);
}

nav form button {
    color:white !important;
    /* border-color:white !important;white */
}

/* ####################################################################### */

/* TITLES SECTION  */
#titlesSection {
    background-color: rgba(218, 218, 218, 0.85);
    width: 100%;

}

/* ####################################################################### */


/* CARDS SECTION  */

#cardsSection {
    /* background-color: rgba(218, 218, 218, 0.85); */
    width: 100%;
    justify-content: center;
    
}

/* ####################################################################### */


/* SEARCH BAR  */

#searchBar {
    padding: 0% 1% 1% 1%;
    /* background-color: #000 !important; */
}

#searchBar-div {
    padding: 0% 1% 1% 1%;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100% !important;
  }
  

form input {
    background-color: #000 !important;
    color: white !important;
}

#searchBar-div span, #searchBar-div button {
  background-color: #000 !important;
  color: white !important;
}

#searchBar-div button {
  border: none !important;

}

/* ####################################################################### */


/* AUTOCOMPLETE TEXT */

/*the container must be positioned relative:*/
.autocomplete {
    position: relative;
    display: inline-block;
  }
  
  input {
    border: 1px solid transparent;
    /* background-color: #f1f1f1; */
    padding: 7px;
    font-size: 16px;
  }
  
  input[type="text"] {
    /* background-color: #f1f1f1; */
    width: 100%;
  }
  
  input[type="submit"] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
  }
  
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;

    margin: 0% 1% 1% 1%;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
  }
  
  .autocomplete-items div {
    padding: 7px;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    border-bottom: 1px solid #d4d4d4;
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #434242;
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
  }

/* ####################################################################### */


  #titlesSection {
    color: #000;
    font-family: CardTitle;
    font-size: 18pt;
    background-color: rgba(255, 255, 255, 0.7);
    padding-left: 5px;
    padding-right: 5px;
    /* padding: 10px; */
  }


  /* FOOTER */
  footer {
    background-color: rgba(255, 255, 255, 0.7);
    justify-content: center;
    text-align: center;
  }
  /* FIN DEL FOOTER */



/* ####################################################################### */

  /* CARD MODALS */

  .card {
    width: 300px;
    padding: 0;
    padding: 7px;
    background-color: rgba(255, 255, 255, 0);
  }

  .modal {
    --bs-modal-width : 90% !important;
    top : 10vh;
  }

  .modal-content{
    /* display: flex; */
    /* width: 80vh !important */
  }


  .modal-body {
    display: flex;
    justify-content: space-evenly;
    /* width: 80vh I!important; */
    
  }

  .cardHeader{
    display: flex;
    padding-right: 10px;
  }

  .cardName {
    font-size: 24pt;
    padding: 0;
  }

  .cardArchetype span{
    color: rgb(194, 34, 34);
  }

  .cardSubTitle {
    padding: 10px 0px 10px 0px;
    font-size: 15pt;
  }

  .cardDescription{
    font-size: 15pt;
  }