img[src*="000webhost"] {
    display: none !important;
}


body {
    background-color: black;
    background-image: url("/media/background.jpg");
    background-repeat: initial;
    /* background-repeat: repeat-y; */
    position: relative;
}


main {
    /* background-color: rgba(44, 44, 44, 0.55); */
    width: 100%;
    padding: 0 !important;
    margin-bottom: 8vh;

}

/* FONTS  */

@font-face { 
    font-family: CardTitle;
    src: url(/ttf/CardTitle.ttf);
        }

@font-face { 
    font-family: CardEffect;
    src: url(/ttf/CardEffect.ttf);
        }
        
/* ####################################################################### */

/* NAV MENU  */

.logo {
    background-color: rgb(115, 79, 154);
}

.navbar-brand :hover {
    background-color: rgb(139, 212, 80);
    transition: 0.3s;
}


nav,
.dropdown-menu,
nav li a,
.dropdown-item {
    background-color: black;
    color: white;
}

.dropdown-menu :hover {
    background-color: rgb(0, 0, 0);
    color: rgb(139, 212, 80);
    transition: 0.3s;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(115, 79, 154);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(115, 79, 154, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
   
}
.custom-toggler .navbar-toggler-icon:hover {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(139, 212, 80, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
    
}

.nav-link {
    /* color: rgb(115,79,154); */
    color: white;
}

.nav-link:hover {
    color: rgb(139, 212, 80);
    transition: 0.3s;
}

nav form button {
    color: rgb(139, 212, 80) !important;
    /* border-color:white !important;white */
}

/* ####################################################################### */


/* TITLES SECTION  */
#titlesSection {
    /* background-color: rgba(218, 218, 218, 0.85); */
    background-color: rgba(0, 0, 0, 0.85);
    /* color: rgb(150,95,212); */
    color: white;
    width: 100% !important;
    font-family: CardTitle;
    font-size: 32pt;
    padding-left: 5px;
    padding-right: 5px;

}



/* ####################################################################### */


/* CARDS SECTION  */

#cardsSection {
    /* background-color: rgba(218, 218, 218, 0.85); */
    width: 100% !important;
    justify-content: center;
    margin: 0 !important;

}

.cardInfo{
    font-family: CardEffect;
    padding: 12px;
    /* text-decoration: none; */
    /* text-transform: capitalize; */
}

.aloneCard {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 10px 10px 10px 10px;

    border-color: white;
}

.aloneCard table {
    color: white;
}

/* ####################################################################### */


/* SEARCH BAR  */

#searchBar {
    padding: 0% 1% 1% 1%;
    /* background-color: #000 !important; */
}

#searchBar-div {
    padding: 1% 1% 1% 1%;
    background-color: rgba(0, 0, 0, 1);
    width: 100% !important;
}


form input {
    background-color: rgb(29, 26, 47) !important;
    color: rgb(139, 212, 80) !important;
}

#searchBar-div span,
#searchBar-div button {
    /* background-color: rgb(29, 26, 47) !important; */

    background-color: rgba(0, 0, 0, 1);
    color: rgb(150, 95, 212)!important;
}

#searchBar-div button {
    border: none !important;

}

#searchBar-div button:hover{
   color: rgb(139, 212, 80) !important;

}

/* ####################################################################### */



/* AUTOCOMPLETE TEXT */

/*the container must be positioned relative:*/
.autocomplete {
    position: relative;
    display: inline-block;
}

input {
    border: 1px solid transparent;
    /* background-color: #f1f1f1; */
    padding: 7px;
    font-size: 16px;
}

input[type="text"] {
    /* background-color: #f1f1f1; */
    width: 100%;
    color: rgb(139, 212, 80)
}

input[type="submit"] {
    background-color: rgb(150, 95, 212);
    color: rgb(139, 212, 80);
    cursor: pointer;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;

    margin: 0% 1% 1% 1%;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 7px;
    cursor: pointer;
    background-color: rgb(29, 26, 47);
    color: rgb(139, 212, 80);
    border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
    background-color: rgb(115, 79, 154);
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: rgb(115, 79, 154) !important;
    color: rgb(139, 212, 80);
}

/* ####################################################################### */



/* FOOTER */
footer {
    background-color: rgba(29, 26, 47, 8.5);
    color: #ffffff;
    justify-content: center;
    text-align: center;
    padding: 20px 20px 20px 20px;  
    position: fixed;
    bottom: 0vh;
    width: 100%;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    
}

/* FIN DEL FOOTER */



/* ####################################################################### */

/* CARD MODALS */

.card {
    width: 300px;
    padding: 6px 8px 6px 8px;
    background-color: rgba(29, 26, 47, 0.55);
}

.modal {
    --bs-modal-width: 90% !important;
    /* margin-top : 10vh; */
}

.modal-content {
    /* display: flex; */
    /* width: 80vh !important */
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
}

.modal-content table {

    color: #fff;

    text-align: center;
    vertical-align: middle;
}

.cardSet {
    color: rgb(139, 212, 80);
}

.cardSet:hover {
    color: rgb(150, 95, 212) !important;
}


.scrollspy {
    position: relative;
    overflow: auto;
    height: auto;
}

.modal-body {
    display: flex;
    justify-content: space-evenly;
    max-height: 95vh;
    /* width: 80vh I!important; */

}

.tbody {
    position: relative;
}

.cardHeader {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-right: 10px;

}

.cardHeader img {
    max-width: 421px;
    max-height: 614px;
}

.cardName p {
    /* padding: 0; */
    padding-top: 2vh;
    font-family: CardTitle;
    font-size: 38pt;
    /* overflow: hidden; */
    white-space: nowrap;
}

.cardName span {   
    font-family: CardTitle;
    font-size: 28pt;
    text-align: center;
    vertical-align: middle;

}
.cardArchetype span {
    color: rgb(139, 212, 80);
    padding-left: 8px;
}

.cardArchetype span:hover {
    color: rgb(150, 95, 212);
}

.cardSubTitle {
    padding: 0px !important;
    font-size: 15pt;
    align-items: center;
}

.cardSubTitle span {
    display: inline-flex;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

.cardDescription {
    font-size: 15pt;
}

.setGrid a {
    color: rgb(139, 212, 80)
}

.iconsSprite {
    background: url(/media/icons.png) no-repeat;
    width: 32px;
    height: 32px;
    display: inline-block;
}

.cardLevel {
    background-position: -192px -288px;
}


.cardRank {
    background-position: -416px -416px;
}


.cardRace {
    background-position: 0 32px;
}

.normalMonster {
    background-position: 0px 0px;
}

.effectMonster {
    background-position: -32px 0px;
}

.geminiMonster {
    background-position: -160px 0px;
}

.ritualMonster {
    background-position: -64px 0px;
}

.fusionMonster {
    background-position: -96px 0px;
}

.synchroMonster {
    background-position: -320px 0px;
}

.xyzMonster {
    background-position: -128px 0px;
}

.pendulumMonster {
    background-position: -192px 0px;
}

.pendulumXyzMonster {
    background-position: -448px 0px;
}


.pendulumSynchroMonster {
    background-position: -352px 0px;
}

.pendulumFusionMonster {
    background-position: -416px 0px;
}


.linkMonster {
    background-position: -480px 0px;
}

.tokenMonster {
    background-position: -288px 0px;
}

.spellCard {
    background-position: -224px 0px;
}

.normalSpell {
    background-position: 0px -96px;
}

.fieldSpell {
    background-position: -64px -96px;
}

.equipSpell {
    background-position: -96x -96px;
}


.quickPlaySpell {
    background-position: -160px -96px;
}

.ritualSpell {
    background-position: -192px -96px;
}

.continuous {
    background-position: -128px -96px;
}


.counterTrap {
    background-position: -32px -96px;
}

.trapCard {
    background-position: -256px 0px;
}


.cardType {
    background-position: 0 32px;
}

.cardAtk {
    background-position: -320px -224px;
}

.cardDef {
    background-position: -352px -224px;
}

/* RACE */

.aqua {
    background-position: -416px -32px;
}

.beast {
    background-position: -320px -32px;
}

.beastWarrior {
    background-position: -352px -32px;
}

.creatorGod {
    background-position: -160px -64px;
}

.cyberse {
    background-position: -224px -96px;
}

.dinosaur {
    background-position: -256px -32px;
}

.divineBeast {
    background-position: -160px -64px;
}

.dragon {
    background-position: 0px -32px;
}

.fairy {
    background-position: -352px -224px;
}

.fiend {
    background-position: -64px -32px;
}

.fish {
    background-position: -224px -32px;
}

.insect {
    background-position: -288px -32px;
}

.machine {
    background-position: -192px -32px;
}

.plant {
    background-position: -384px -32px;
}

.psychic {
    background-position: -128px -64px;
}

.pyro {
    background-position: -96px -32px;
}

.reptile {
    background-position: -96px -64px;
}

.rock {
    background-position: -160px -32px;
}

.seaSerpent {
    background-position: -128px -32px;
}

.spellcaster {
    background-position: -32px -64px;
}

.thunder {
    background-position: -64px -64px;
}

.warrior {
    background-position: -448px -32px;
}

.wingedBeast {
    background-position: -480px -32px;
}

.wyrm {
    background-position: -256px -96px;
}

.zombie {
    background-position: -32px -32px;
}


.light {
    background-position: -192px -64px;
}

.dark {
    background-position: -224px -64px;
}

.water {
    background-position: -256px -64px;
}

.fire {
    background-position: -288px -64px;
}

.earth {
    background-position: -320px -64px;
}

.wind {
    background-position: -352px -64px;
}

.divine {
    background-position: -384px -64px;
}

.spell {
    background-position: -416px -64px;
}

.trap {
    background-position: -448px -64px;
}

.skill {
    background-position: -448px -64px;
}

/* BAN STATUS  */

.unlimited {
    background-position: -64px -416px;
}

.semi-limited {
    background-position: -32px -416px;
}

.limited {
    background-position: 0px -416px;
}


.banned {
    background-position: -448px -480px;
}






/* SET MODALS */

.setImage button {
    width: 250px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.75);
}

.setImage .btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.setName {
    font-size: 20pt;
    text-align: center;
}

.setInfo{
    font-size: 16pt;
    color: white;
    text-align: center;

}

.set:hover {
    background-color: rgba(115, 79, 154, 0.85) !important;
    transition: 0.3s;
}

.sets {
    width: min-content;
    background-color: rgba(0, 0, 0, 0.85);
    margin: 15px 5px 15px 5px;
}

.setGrid {

    padding: 6px 8px 6px 8px;
}


/* COLORED TEXT CLASSES */

.greenText {
    color: rgb(139, 212, 80);
}

.purpleText {
    color: rgb(150, 95, 212);
}


/* MORE CARDS BUTTON  */


#loadMoreCards {
    left: 30px;
}

/* back 2 top */
#back2top {
    right: 30px;

}


#back2top,
#loadMoreCards {
    color: rgb(139, 212, 80);
    font-size: 70px;
    bottom: 6vh;
    text-align: center; 
    display: inline-block;
    border-radius: 4px;    
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 8000;
    position: fixed;
}

#back2top:hover,
#loadMoreCards:hover {
    cursor: pointer;
    color: rgb(150, 95, 212);
}


#back2top.show,
#loadMoreCards.show, #footer.show {
    opacity: 1;
    visibility: visible;
}


@media (max-width: 740px) { 
    .card {
        width: 150px;
    }

    
    .cardInfo span {

        font-size: 25pt;
    }
    
    .cardInfo p , .cardSubTitle {
        font-size: 23pt !important;
    }

    .cardHeader img{
        width: 80px;
    }

    .cardName, .cardName p, .cardName span, .cardSubTitle  {
        padding: 0;
        margin: 0;
    }

    .modal-body{
        display: flex;
        flex-direction: column;
    }

}


@media (max-width: 390px) { 
    .card {
        width: 100px;
    }


    .iconsSprite{
        width: 0;
        height: 0;
    }

    .cardHeader {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .cardHeader span {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
        font-size: 9pt;
    }


    .cardHeader .cardSubTitle {
        display: flex;
        flex-direction: row;
        font-size: 9pt;
    } 


    .cardHeader img{
        width: 80px;
    }

    .cardInfo span {

        font-size: 15pt;
    }

    .table th, .table td{
        font-size: 9pt
    }
    
    .cardInfo p,  .cardSubTitle span {
        font-size: 10pt !important;
    }



}