img[src*="000webhost"] {
    display: none !important;
}

.sticky-top {
    z-index: 100;
}

body,
.fade {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

body::-webkit-scrollbar,
.fade::-webkit-scrollbar {
    display: none;
}

body {
    background-color: black;
    background-image: url("/media/background.webp");
    background-repeat: initial;
    /* background-repeat: repeat-y; */
    position: relative;
    cursor: default;
}

main {
    /* background-color: rgba(44, 44, 44, 0.55); */
    width: 100%;
    padding: 0 !important;
    margin-bottom: 8vh;
}

.languageBar span {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.languageBar i {
    cursor: pointer;
}


/* FONTS  */

@font-face {
    font-family: CardTitle;
    src: url(/ttf/CardTitle.ttf);
}

@font-face {
    font-family: CardEffect;
    src: url(/ttf/CardEffect.ttf);
}

@font-face {
    font-family: CardTable;
    src: url(/ttf/CardTable.ttf);
}


/* ####################################################################### */


/* NAV MENU  */

.logo {
    background-color: rgb(115, 79, 154);
    width: 105px !important;
    height: 54px !important;
}

.navbar-brand :hover {
    background-color: rgb(139, 212, 80);
    transition: 0.3s;
}

.dropdown-toggle::after {
    border-top: 0.1em solid;
    border-right: 0.1em solid transparent;
    border-left: 0.1em solid transparent;
}

nav,
.dropdown-menu,
nav li a,
.dropdown-item {
    background-color: black;
    color: white;
    font-family: CardTitle;
    font-size: 24pt;
    cursor: pointer;
}

.dropdown-menu :hover {
    background-color: rgb(0, 0, 0);
    color: rgb(139, 212, 80);
    transition: 0.3s;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(115, 79, 154);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(115, 79, 154, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(139, 212, 80, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
    /* color: rgb(115,79,154); */
    color: white;
}

.nav-link:hover {
    color: rgb(139, 212, 80);
    transition: 0.3s;
}

nav form button {
    color: rgb(139, 212, 80) !important;
    /* border-color:white !important;white */
}

.form-control {
    border-radius: 6px;
}


/* ####################################################################### */


/* TITLES SECTION  */

#titlesSection {
    /* background-color: rgba(218, 218, 218, 0.85); */
    background-color: rgba(0, 0, 0, 0.85);
    /* color: rgb(150,95,212); */
    color: white;
    width: 100% !important;
    font-family: CardTitle;
    font-size: 32pt;
    padding: 10px 10px 10px 10px;
    text-align: center;
}

.banlistTitle {
    color: white;
    width: 100% !important;
    font-family: CardTitle;
    font-size: 32pt;
    padding: 10px 10px 10px 10px;
    text-align: center;
}


/* BANLIST SECTION */

#banSection,
#limitedSection,
#semiLimitedSection {
    background-color: rgba(0, 0, 0, 0.85);
    /* padding-bottom: 20px; */
    /* display: flex;
    justify-content: center; */
}

#banCardsSection {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


/* 
#limitedSection {
    border-top: 2px double rgb(150, 95, 212);
    border-bottom: 2px double rgb(150, 95, 212);
    border-spacing: 20px;
} */


/* LOADER SECTION  */

.loader-wrapper {
    width: 100% !important;
    height: 100vh !important;
    position: absolute !important;
    z-index: 1;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
}

.loader {
    /* position: absolute;
    z-index: 1;
    top: 50vh;
    left: auto; */
    background-color: rgb(0, 0, 0);
}

.loader p {
    font-size: 23pt;
}


/* ####################################################################### */


/* CARDS SECTION  */

#cardsSection {
    /* background-color: rgba(218, 218, 218, 0.85); */
    width: 100% !important;
    justify-content: center;
    margin: 0 !important;
}

.cardInfo {
    font-family: CardEffect;
    padding: 12px;
    /* text-decoration: none; */
    /* text-transform: capitalize; */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.cardArrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 30pt;
    padding: 10px;
    color: rgb(139, 212, 80);
}

.changeArtArrow {
    color: rgb(139, 212, 80);
    font-size: 30pt;
    text-align: center;
    display: flex;
    align-items: center;
}

.cardArrows i:hover,
.changeArtArrow:hover {
    color: rgb(150, 95, 212);
    cursor: pointer;
}

.arrowsMobile {
    display: none;
}

.cardInfo::-webkit-scrollbar {
    display: none;
}

.aloneCard {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 10px 10px 10px 10px;
    margin: 10px;
    border-color: white;
}

.aloneCard table {
    color: white;
}


/* ####################################################################### */


/* DECK PRICER  */

#deckPricer {
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    font-family: CardTitle;
    font-size: 24pt;
    /* text-align: center; */
    padding: 10px 10px 10px 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#deckPricer h2 {
    text-align: center;
    font-size: 42pt;
}

#deck_main,
#deck_extra,
#deck_side {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
}

#deckPricer tbody {
    color: rgb(115, 79, 154);
}

.fileUpload {
    width: 100%;
    text-align: center;
    /* vertical-align: middle; */
    color: rgb(150, 95, 212);
    cursor: pointer;
}

.fileUpload:hover {
    color: rgb(139, 212, 80);
    cursor: pointer;
    /* background-color: rgb(29, 26, 47); */
    /* border: rgb(115, 79, 154) solid 2px; */
}

input[type="file"] {
    display: none;
}


/* .add2deckButton:hover {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(139, 212, 80);
} */

.deckPricerButton {
    background-color: rgb(29, 26, 47) !important;
    border: rgb(115, 79, 154) solid 2px !important;
    color: rgb(139, 212, 80) !important;
    margin-top: 10px;
    margin-bottom: 10px;
    /* -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in; */
    /* background: #f5f5f5;  */
    /* padding: 20px; */
}

.deckPricerButton:hover {
    background-color: rgb(115, 79, 154) !important;
    border: rgb(29, 26, 47) solid 2px !important;
    color: rgb(139, 212, 80) !important;
}


/* #deck_extra {}

#deck_side {} */

#deck_info_table {
    color: white;
}

#deck_info_table tr :hover {
    color: rgb(139, 212, 80);
}


/* Change deck cards size to fit rows of 10 min and max 15 */

.deckCardsfitSize10 {
    width: 400px;
    /*any other styles you want*/
}

.deckCardsfitSize15 {
    width: 200px;
    /*any other styles you want*/
}


/* ####################################################################### */


/* SEARCH BAR  */

#searchBar {
    padding: 0% 1% 1% 1%;
    /* background-color: #000 !important; */
}

#searchBar-div {
    padding: 1% 1% 1% 1%;
    background-color: rgba(0, 0, 0, 1);
    width: 100% !important;
}

form input,
#atkAndDef input {
    background-color: rgb(29, 26, 47) !important;
    color: rgb(139, 212, 80) !important;
    font-family: CardEffect;
    border-radius: .375rem !important;
}

#searchBar-div span,
#searchBar-div button {
    /* background-color: rgb(29, 26, 47) !important; */
    background-color: rgba(0, 0, 0, 1);
    color: rgb(150, 95, 212);
}

#searchBar-div button {
    border: none !important;
}

#searchBar-div button:hover {
    color: rgb(139, 212, 80) !important;
}


/* input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
} */

.searchBarCard {
    display: flex;
    width: 100%;
    align-items: center;
}

.searchBarCard img {
    width: 100px;
}

.searchBarDeckPricerCard {
    background-color: rgb(29, 26, 47);
    color: rgb(139, 212, 80);
    border: 1px solid rgb(150, 95, 212);
    align-items: center;
    /* text-align: center; */
    vertical-align: middle;
}

.searchBarDeckPricerCard:hover {
    background-color: rgb(150, 95, 212)
}

.searchBarCard_search {
    display: flex;
    margin: 0 !important;
    padding: 0 !important;
    justify-content: flex-start;
    align-items: flex-start;
}

.searchBarCard_search_div1 {}

.searchBarCard_search_div2 {}

.searchBardCardName {
    font-family: CardTitle;
    color: rgb(139, 212, 80) !important;
    font-size: 20pt !important;
}

.searchBardCardDesc {
    font-family: CardEffect;
    font-size: 14pt;
    color: #fff !important;
    font-weight: lighter;
}

.searchBardCard_info {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
}

.searchBarCard_Name span {
    color: rgb(139, 212, 80) !important;
    font-size: 23pt !important;
}

.searchBardCard_info span {
    background-color: rgba(0, 0, 0, 0) !important;
    font-family: CardTitle;
    font-weight: lighter;
    color: rgb(29, 26, 47);
}

.searchBardCard_description span {
    font-family: CardEffect;
    font-size: 14pt;
    color: #fff !important;
    font-weight: lighter;
}

.add2deckButton {
    color: rgb(150, 95, 212);
    font-size: 18pt;
    text-align: center;
    vertical-align: middle;
    padding-right: 10px;
}


/* ####################################################################### */


/* AUTOCOMPLETE TEXT */


/*the container must be positioned relative:*/

.autocomplete {
    position: relative;
    display: inline-block;
}

input {
    border: 1px solid transparent;
    /* background-color: #f1f1f1; */
    padding: 7px;
    font-size: 16px;
    border-color: rgb(150, 95, 212) !important;
}

input[type="text"] {
    /* background-color: #f1f1f1; */
    width: 100%;
    color: rgb(139, 212, 80)
}

input[type="submit"] {
    background-color: rgb(150, 95, 212);
    color: rgb(139, 212, 80);
    cursor: pointer;
}

.input-group-text {
    border-color: rgb(150, 95, 212) !important;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(139, 212, 80, 0.6) !important;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(139, 212, 80, 0.6) !important;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(139, 212, 80, 0.6) !important;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid rgb(150, 95, 212);
    border-bottom: none;
    border-top: none;
    z-index: 99;
    margin: 0% 1% 1% 1%;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    /* border-color: rgb(150, 95, 212); */
}

.autocomplete-items .simplecardinfo {
    padding: 7px;
    cursor: pointer;
    background-color: rgb(29, 26, 47);
    color: rgb(139, 212, 80);
    border-bottom: 1px solid rgb(150, 95, 212);
    font-family: CardEffect;
}


/*when hovering an item:*/

.autocomplete-items div:hover,
.autocomplete-items i:hover {
    background-color: rgb(115, 79, 154);
}

.autocomplete-items i:hover {
    color: rgb(139, 212, 80);
}


/*when navigating through the items using the arrow keys:*/

.autocomplete-active {
    background-color: rgb(115, 79, 154) !important;
    color: rgb(139, 212, 80);
}


/* ####################################################################### */


/* FOOTER */

footer {
    background-color: rgba(0, 0, 0, 8.5);
    color: rgb(115, 79, 154);
    /* font-family: CardTitle; */
    font-size: 14pt23pt;
    justify-content: center;
    text-align: center;
    padding: 20px 20px 20px 20px;
    position: fixed;
    bottom: 0vh;
    width: 100%;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
}


/* FIN DEL FOOTER */


/* ####################################################################### */


/* FILTER BAR */

#filtersModal {
    text-align: left;
    font-family: CardEffect;
    font-size: 15pt;
    text-align: center;
    /* text-transform: uppercase; */
}

#filtersModal .modal-header,
#filtersModal .modal-body,
#filtersModal .modal-footer {
    border-color: rgb(139, 212, 80);
}

#filtersModal h5 {
    color: rgb(150, 95, 212);
    font-size: 28pt;
    text-align: center;
}

#filtersModal .modal-header,
#filtersModal h5,
#filtersModal .modal-footer {
    display: block;
    margin: 0px !important;
    padding: 0px !important;
}

#filtersModal input {
    border-color: rgb(150, 95, 212)
}

#filtersModal .modal-footer button {
    background-color: rgb(29, 26, 47);
    color: rgb(139, 212, 80);
    margin: 10px;
    width: 250px;
    border-color: rgb(150, 95, 212)
}

#TLRA h4 {
    font-size: 22pt;
    color: #965fd4;
}

#filterBar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#TLRA {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

#typeAndLevel {
    display: flex;
    flex-direction: row;
}

#type {
    display: inline;
}

#levels {
    display: inline;
    flex-direction: column;
    justify-content: space-evenly;
}

#raceAndAttribute {
    display: flex;
    flex-direction: row;
}

#atkAndDef {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#desc {
    width: 75vh;
}


/* CARD MODALS */

.card {
    width: 230px;
    height: 323px;
    padding: 6px 8px 6px 8px;
    background-color: rgba(29, 26, 47, 0.55);
}

.smallcard {
    width: 107px;
    /* height: 323px; */
    /* padding: 6px 8px 6px 8px; */
}

.smallCard {
    width: 99px;
    padding: 2px;
}

.modal {
    --bs-modal-width: 90% !important;
    /* margin-top : 10vh; */
}

.modal-content {
    /* display: flex; */
    /* width: 80vh !important */
    background-color: rgba(0, 0, 0, 0.85);
    color: #fff;
    margin: 10px;
    /* height: 510px; */
}

.modal-content table {
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

.tableHead {
    font-family: CardTable;
    font-size: 15pt;
    font-weight: 100;
}

.table th,
.table td {
    padding: 5px 5px 5px 5px;
    font-family: CardTable;
    font-size: 13pt;
    font-weight: 100;
}

.modal-content table th,
.modal-content table td {
    margin: 0px !important;
    padding: 0px !important;
}

.cardSet {
    color: rgb(139, 212, 80);
}

.cardSet:hover {
    color: rgb(150, 95, 212) !important;
}

.cardSets span {
    padding: 0px !important;
    margin: 0px !important;
    font-size: 21px;
}

.scrollspy {
    position: relative;
    overflow: auto;
    height: auto;
    width: 100%;
    /* padding-bottom: 30px; */
}

.modal-body {
    display: flex;
    justify-content: space-evenly;
    /* width: 100%; */
    /* width: 8vh !important; */
    max-height: 92vh;
}

.modal-dialog {
    /* max-width: fit-content !important; */
    max-width: 95%;
}

.tbody {
    position: relative;
}

.cardHeader {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-right: 10px;
}

.fullSizeImage {
    /* height: fit-content;
    width: fit-content; */
    height: 80vh !important;
    width: auto !important;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.cardHeader img {
    max-width: 337px;
    max-height: 459px;
    cursor: pointer;
}

.cardName p {
    /* padding: 0; */
    padding-top: 2vh;
    font-family: CardTable;
    font-size: 22pt;
    overflow: hidden;
    white-space: nowrap;
    text-align: start;
    padding: 5px !important;
    margin: 0px !important;
}

.cardName span {
    font-family: CardEffect;
    font-size: 15pt;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
}

.cardArchetype span {
    color: rgb(139, 212, 80);
    padding-left: 8px;
    padding-right: 8px;
}

.cardArchetype span:hover {
    color: rgb(150, 95, 212);
}

.cardSubTitle {
    padding: 0px !important;
    font-family: CardTable;
    font-size: 14pt;
    font-weight: 400;
    align-items: center;
}

.cardSubTitle span {
    display: inline-flex;
    /* display: flex;
    align-items: center;
    justify-content: space-between; */
}

.cardDescription,
.cardFormats span,
.cardFormats a {
    font-size: 16pt;
    font-weight: lighter;
}


/* 
.cardDescription span {
} */

.setGrid a {
    color: rgb(139, 212, 80)
}

.iconsSprite {
    background: url(/media/icons.webp) no-repeat;
    /* background: url(/media/icons.png) no-repeat; */
    width: 32px;
    height: 32px;
    display: inline-block;
    vertical-align: middle;
}

.cardLevel {
    background-position: -192px -288px;
}

.cardRank {
    background-position: -416px -416px;
}

.cardRace {
    background-position: 0 32px;
}

.normalMonster {
    background-position: 0px 0px;
}

.effectMonster {
    background-position: -32px 0px;
}

.geminiMonster {
    background-position: -160px 0px;
}

.gemini {
    background-position: -256px -192px;
}

.toonMonster {
    background-position: -224px -192px;
}

.spiritMonster {
    background-position: -256px -192px;
}

.unionMonster {
    background-position: -288px -192px;
}

.flipEffectMonster {
    background-position: -192px -192px;
}

.tunerMonster {
    background-position: -96px -224px;
}

.ritualMonster {
    background-position: -64px 0px;
}

.fusionMonster {
    background-position: -96px 0px;
}

.synchroMonster {
    background-position: -320px 0px;
}

.xyzMonster {
    background-position: -128px 0px;
}

.pendulumEffectMonster {
    background-position: -192px 0px;
}

.pendulumNormalMonster {
    background-position: -320px -96px;
}

.pendulumXyzMonster {
    background-position: -448px 0px;
}

.pendulumSynchroMonster {
    background-position: -352px 0px;
}

.pendulumFusionMonster {
    background-position: -416px 0px;
}

.linkMonster {
    background-position: -480px 0px;
}

.tokenMonster {
    background-position: -288px 0px;
}

.skillCard {
    background-position: -288px -96px;
}

.spellCard {
    background-position: -224px 0px;
}

.normalSpell {
    background-position: -384px -288px;
}

.fieldSpell {
    background-position: -224px -288px;
}

.equipSpell {
    background-position: -256px -288px;
}

.quickPlaySpell {
    background-position: -320px -288px;
}

.ritualSpell {
    background-position: -352px -288px;
}

.continuousSpell {
    background-position: -288px -288px;
}

.normalTrap {
    background-position: -480px -288px;
}

.continuousTrap {
    background-position: -448px -288px;
}

.counterTrap {
    background-position: -416px -288px;
}

.trapCard {
    background-position: -256px 0px;
}

.cardType {
    background-position: 0 32px;
}

.cardAtk {
    background-position: -320px -224px;
}

.cardDef {
    background-position: -352px -224px;
}


/* RACE */

.aqua {
    background-position: -416px -32px;
}

.beast {
    background-position: -320px -32px;
}

.beastWarrior {
    background-position: -352px -32px;
}

.creatorGod {
    background-position: -160px -64px;
}

.cyberse {
    background-position: -224px -96px;
}

.dinosaur {
    background-position: -256px -32px;
}

.divineBeast {
    background-position: -160px -64px;
}

.dragon {
    background-position: 0px -32px;
}

.fairy {
    background-position: -352px -224px;
}

.fiend {
    background-position: -64px -32px;
}

.fish {
    background-position: -224px -32px;
}

.illusionist {
    background-position: -480px -64px;
}

.insect {
    background-position: -288px -32px;
}

.machine {
    background-position: -192px -32px;
}

.plant {
    background-position: -384px -32px;
}

.psychic {
    background-position: -128px -64px;
}

.pyro {
    background-position: -96px -32px;
}

.reptile {
    background-position: -96px -64px;
}

.rock {
    background-position: -160px -32px;
}

.seaSerpent {
    background-position: -128px -32px;
}

.spellcaster {
    background-position: -32px -64px;
}

.thunder {
    background-position: -64px -64px;
}

.warrior {
    background-position: -448px -32px;
}

.wingedBeast {
    background-position: -480px -32px;
}

.wyrm {
    background-position: -256px -96px;
}

.zombie {
    background-position: -32px -32px;
}

.light {
    background-position: -192px -64px;
}

.dark {
    background-position: -224px -64px;
}

.water {
    background-position: -256px -64px;
}

.fire {
    background-position: -288px -64px;
}

.earth {
    background-position: -320px -64px;
}

.wind {
    background-position: -352px -64px;
}

.divine {
    background-position: -384px -64px;
}

.spell {
    background-position: -416px -64px;
}

.trap {
    background-position: -448px -64px;
}

.skill {
    background-position: -448px -64px;
}


/* Pendulum Scales */

.penScaleRight {
    background-position: -32px -288px;
}

.penScaleLeft {
    background-position: 0px -288px;
}


/* Link Value */

.linkRate {
    background-position: -64px -288px;
}


/* BAN STATUS  */

.unlimited {
    background-position: -64px -416px;
}

.semi-limited {
    background-position: -32px -416px;
}

.limited {
    background-position: 0px -416px;
}

.banned {
    background-position: -448px -480px;
}


/* FORMATS  */

.formatTCG {
    background-position: -384px -382px;
}

.formatOCG {
    background-position: -352px -382px;
}

.formatGOAT {
    background-position: -448px -192px;
}

.formatOCGGOAT {
    background-position: -448px -192px;
}

.formatCommonCharity {
    background-position: -416px -382px;
}

.formatDuelLinks {
    background-position: -448px -382px;
}

.formatEdison {
    background-position: -480px -384px;
}

.modalCardImage {
    background-color: rgba(0, 0, 0, 0.85);
}


/* SET MODALS */

.setGrid {
    padding: 6px 8px 6px 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.setImage button {
    width: 200px;
    height: 350px;
    max-height: 350px;
    background-color: rgba(0, 0, 0, 0.75);
}

.setImage {
    width: 75%;
}

.setImageTitle {
    width: 200px;
}

.setImage .btn {
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.setName {
    font-size: 20pt;
    /* font-size: 2vw; */
    text-align: center;
    color: rgb(139, 212, 80);
}

.setName:hover {
    color: rgb(150, 95, 212)
}

.setInfo {
    font-size: 14pt;
    color: white;
    text-align: center;
    width: 25%;
}

.set:hover {
    background-color: rgba(115, 79, 154, 0.85) !important;
    transition: 0.3s;
}

.sets {
    width: min-content;
    width: 250px;
    height: 555px;
    background-color: rgba(0, 0, 0, 0.85);
    margin: 15px 5px 15px 5px;
}

.archetypes {
    width: min-content;
    width: 250px;
    height: 280px;
    background-color: rgba(0, 0, 0, 0.85);
    /* margin: 15px 5px 15px 5px; */
}

.archetypes div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.archetypeImage {
    width: 200px;
    max-height: 200px;
}

.setLetters {
    font-family: CardTitle;
    color: rgb(139, 212, 80);
    font-size: 52pt;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.85);
    text-align: center;
    /* max-height: 83px; */
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
}

.setLetters span:hover {
    color: rgb(115, 79, 154);
    font-size: 60pt;
}


/* COLORED TEXT CLASSES */

.greenText {
    color: rgb(139, 212, 80);
    text-decoration: none;
}

.greenText a {
    text-decoration: none;
}

.greenText:hover {
    color: rgb(150, 95, 212);
}

.purpleText {
    color: rgb(150, 95, 212);
}


/* MORE CARDS BUTTON  */

#loadMoreCards {
    left: 30px;
}


/* back 2 top */

#back2top {
    right: 30px;
}

#back2top,
#loadMoreCards {
    color: rgb(139, 212, 80);
    font-size: 50px;
    bottom: 6vh;
    text-align: center;
    display: inline-block;
    border-radius: 4px;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 8000;
    position: fixed;
}

#back2top:hover,
#loadMoreCards:hover {
    cursor: pointer;
    color: rgb(150, 95, 212);
}

#back2top.show,
#loadMoreCards.show,
#footer.show {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 947px) {
    .card {
        width: 160px;
        height: 220px;
    }
    .cardArrows {
        display: none;
    }
    .arrowsMobile {
        display: inline-block !important;
        font-size: 30pt;
        padding: 10px;
        color: rgb(139, 212, 80);
    }
    .arrowsMobile:hover {
        color: rgb(150, 95, 212);
        cursor: pointer;
    }
    .aloneCard {
        max-height: 72vh;
    }
    .cardHeader {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .modal-body .cardHeader img {
        width: 242;
        padding: 1%;
    }
    .setLetters {
        font-size: 32pt;
    }
    .modal-body .cardHeader img {
        width: 270px;
        padding: 1%;
    }
    .modal img {
        width: 180px;
    }
    .cardInfo span {
        font-size: 11pt;
    }
    .cardInfo p,
    .cardSubTitle,
    .cardInfo table,
    .setInfo {
        font-size: 14pt !important;
    }
    .modal-body .cardHeader img {
        width: 320px;
        padding: 1%;
    }
    .modal img {
        width: 80px;
    }
    table {
        padding: 0px;
    }
    .cardName,
    .cardName p,
    .cardName span,
    .cardSubTitle {
        padding: 0;
        margin: 0;
    }
    .modal-body {
        display: flex;
        flex-direction: column;
    }
    #titlesSection {
        font-size: 27pt;
    }
}

@media (max-width: 663px) {
    .card {
        width: 152px;
    }
    .smallCard {
        width: 60px;
    }
    .smallcard {
        width: 58px;
    }
    .sets {
        width: 226px;
        height: 500px;
    }
    .sets a {
        font-size: 17pt;
    }
    .sets img {
        max-height: auto !important;
    }
    .modal-header img {
        width: 230px;
    }
    #titlesSection {
        font-size: 25pt;
    }
    #back2top,
    #loadMoreCards {
        font-size: 40px;
    }
    #filterBar {
        display: contents;
    }
    #typeAndLevel,
    #raceAndAttribute {
        flex-direction: column;
        align-items: center;
        justify-content: baseline;
    }
    .cardDescription,
    .cardFormats span,
    .cardFormats a {
        font-size: 13pt;
        font-weight: lighter;
        align-items: center;
    }
    .table th,
    .table td {
        font-size: 10pt;
        padding: 10px;
    }
    .aloneCard {
        max-height: 72vh;
    }
    .archetypes {
        width: 122px;
        height: 180px;
    }
    .archetypeImage {
        width: 113px;
        max-height: 130px;
    }
}

@media (max-width: 543px) {
    .smallCard {
        width: 57px;
    }
    .smallcard {
        width: 59px;
    }
    .cardHeaderDiv {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 479px) {
    .sets {
        width: 182px;
        height: 400px;
    }
    .setLetters {
        font-size: 32pt;
    }
    .modal-body {
        align-items: center;
    }
    .card {
        width: 94px;
        height: 118px;
    }
    #cardSection {
        justify-content: space-evenly;
        align-items: center;
    }
    .sets {
        width: 173px;
        max-height: 400px;
        align-items: center;
        justify-content: center;
    }
    .setGrid {
        max-height: 100%;
        max-width: 100%;
        justify-content: center;
    }
    .setImage button {
        max-width: 160px;
        max-height: 350px;
        height: auto;
    }
    .card-img-bottom {
        max-height: 330px;
    }
    .cardDescription,
    .cardFormats span,
    .cardFormats a {
        font-size: 12pt;
        font-weight: lighter;
    }
    .cardInfo {
        padding: 5px;
        font-size: 11pt;
    }
    .cardInfo a,
    .cardInfo i {
        font-size: 11pt;
    }
    /* .iconsSprite {
        width: 0;
        height: 0;
    } */
    .cardHeader {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .cardHeader span {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 9pt;
    }
    .cardHeader .cardSubTitle {
        display: flex;
        flex-direction: row;
        font-size: 14pt;
    }
    .modal-body .cardHeader img {
        width: 300px;
        padding: 2%;
        text-align: center;
    }
    .modal img {
        width: 80px;
    }
    .iconsSprite {
        transform: scale(.8);
    }
    .table {
        justify-content: center;
        padding: 0px;
    }
    .table th,
    .table td {
        font-size: 9pt
    }
    .cardInfo p,
    .cardSubTitle span {
        font-size: 13pt !important;
    }
    footer {
        font-size: 10pt;
        padding: 10px 10px 10px 10px;
    }
}

@media (max-width: 357px) {
    .sets {
        width: 156px;
        height: 400px;
    }
    .smallCard {
        width: 36px;
    }
    .smallcard {
        width: 38px;
    }
    .iconsSprite {
        transform: scale(.7);
    }
    .sets img {
        width: 130px;
    }
    .card {
        width: 109px;
        height: 152px;
    }
    .modal-body .cardHeader img {
        width: 240px;
        padding: 2%;
        text-align: center;
    }
}